# .coveragerc to control coverage.py
[run]
branch = True
omit =
    */__init__.py
    */conftest.py
    */tests/*
    */protocols/*
    */protocols.py
    */iterfaces/*
    *fake*



[report]
exclude_lines =
    .*__str__.*
omit =
    */__init__.py
    */conftest.py
    */tests/*
    */protocols/*
    */protocols.py
    */iterfaces/*
    *fake*

ignore_errors = True
